@import 'constants';

.header {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
  position: relative;
  background-color: $header-bg-color;
  height: $header-height;
  margin: 0;
}

.header h1 {
  position: absolute;
  top: 0;
  left: $header-height;
  margin: 6px;
}

.content {
  app-user {
    visibility: hidden;
  }
}
