.dockerignore
.editorconfig
.env
.gitignore
.nvmrc
.prettierrc
*.env
README.md
LICENSE
nodemon-debug.json
docker-compose.yml
Dockerfile

.git/
.vscode/
coverage/
dist/
node_modules/
test/

frontend/node_modules/
frontend/dist/
frontend/coverage/
frontend/e2e/
