.centered {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div {
  margin-top: 1em;
  margin-bottom: 1em;
}

button {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1em;
}

fa-icon {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  height: 2.5em;
}

